#container{

    width: 40vw;
    height: 70vh;
    min-width: 300px;
    min-height: 400px;
    position: relative;
    border: 2px solid black;
}

#display{

     font-size: 2.8rem;
     color: rgb(7, 7, 44);
     width: 99%;
     background-color: rgb(201, 195, 195);
     height: 20%;
     border: 2px solid grey;
     padding: 0px;

}
.button{

    width: 22.5%;
    height: 15%;
    display: inline-block;
    border: 2px solid grey;
    font-size: 1.8rem;
   padding: 0px;
   cursor: pointer;
}
.button[data-value='0']{

    width: 47.5%;
}
.button:hover {
    background-color: khaki;
}
.button[role="operator"]:hover{

      background-color: red;
}

.button span{

     font-weight: bold;
     text-align: center;
     margin-top: 9px;
     display: block;
}
.button[role="operator"]{

    background-color: rgb(226, 13, 13);
}
